src/test/resources/hackaton-functional-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:github="http://www.mulesoft.org/schema/mule/github"
      xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
      xmlns:jira="http://www.mulesoft.org/schema/mule/jira"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/github http://www.mulesoft.org/schema/mule/github/1.0/mule-github.xsd
        http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/2.0/mule-mongo.xsd
        http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/2.0/mule-jira.xsd
     ">

    <description>

    </description>

    <github:config user="evangelina" password="mulesoft1" defaultUser="evangelina"/>
    <jira:config username="federico.recio" password="123" address="http://localhost:8080/rpc/soap/jirasoapservice-v2"/>
    <!--<jira:config username="eva" password="123" address="http://localhost:8080/rpc/soap/jirasoapservice-v2"/>-->

    <flow name="GitHub2Jira">
        <poll frequency="5000">
            <github:get-issues-creted-after repository="github-connector" minutes="1000"/>
        </poll>
        <logger message="New issues: #[payload]" level="WARN"/>
        <collection-splitter/>
        <logger message="Title: #[groovy:payload.getTitle()]" level="WARN"/>

        <logger message="Custom fields id: #[payload]" level="WARN"/>
        <enricher target="#[variable:issues]">
            <jira:get-issues-from-jql-search
                    jqlSearch="project = 'HACKATHON' AND GitHubIssue = #[groovy:payload.getNumber()]"
                    maxNumResults="1000"/>
        </enricher>

        <logger message="Issues: #[payload]" level="WARN"/>

        <choice>
            <when evaluator="groovy" expression="variable:issues.isEmpty()">
                <logger message="Inserting issue" level="WARN"/>
                <jira:create-issue summary="#[groovy:payload.getTitle()]" project="HACKATHON" type="1"
                                   description="#[groovy:payload.getBody()]">
                    <jira:custom-fields>
                        <jira:custom-field key="customfield_10000">#[groovy:payload.getNumber()]</jira:custom-field>
                    </jira:custom-fields>
                </jira:create-issue>
            </when>
        </choice>
    </flow>

    <flow name="Jira2GitHub">
        <poll frequency="5000">
            <jira:get-issues-from-jql-search jqlSearch="project = 'HACKATHON' AND GitHubIssue = 0"
                                             maxNumResults="1000"/>
        </poll>
        <collection-splitter />
        <github:create-issue repository="github-connector" title="#[groovy:payload.getSummary()]" body="#[groovy:payload.getDescription()]" />
        <logger message="New GitHub issue created: #[payload]" />
        <jira:update-issue issueKey="TODO: recuperar issue key">
            <jira:fields>
                <jira:field key="customfield_10000">#[groovy:payload.getNumber()]</jira:field>
            </jira:fields>
        </jira:update-issue>
    </flow>
</mule>